
*{box-sizing: border-box;}

.book{
    width: 200px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.688);
    padding: 10px;
    box-shadow: 2px 2px blue;
    margin: 5px;
}

.book.indispo{
    background-color: rgba(215, 18, 55, 0.442) !important; 
}

.book:hover{
    cursor: pointer;
}

.books{
    background-color: rgba(100, 93, 198, 0.442);
}