body{
    background-image: url('../img/fond.png');
    margin: 0;
}

header{
    display: flex;
    background-color: #b8cb21;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 1.3em;
    color: #2d4722
}

header, main{
    width: 750px;
    margin: 0 auto;
    padding: 15px;
}

main{
    background-color: #fff;
    margin-bottom: 10px;
}

h2{
    color: #b8cb21;
    text-transform: uppercase;
}

section img{
    width: 30%;
    float: left;
    margin-right: 10px;
}

section a{
    float: right;
    background-color: #b8cb21;
    padding: 7px;
    color: white;
    text-decoration: none;
}

.clear{
    clear: both;
}