.link {
  text-decoration: none;
}

nav .link {
  color: aliceblue;
  font-size: 1.5em;
  margin-left: 10px;
}

.imgProd {
  height: 200px;
  width: 300px;
}

.headerSticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
