a{
    text-decoration: none;
}

body{
    margin: 0;
    background-image: url(../img/fond.png);
}

header{
    background-color: #26b5b5;
    text-align: center;
    padding-bottom: 20px; /* padding: 0 0 20px; */
    border-bottom: 3px solid #107272;
    border-top: 3px solid #107272;
    margin-top: 50px;
}

nav a{
    color: white;
    margin-right: 20px;
}

main{
    min-width: 800px;
    max-width: 1100px;
    margin: 0 auto;
}

.welcome{
    text-align: center;
    margin: 0 200px;
}

section:nth-of-type(2){
    background-color: #b6dedc;
    padding: 20px;
    width: 62%;
    display: inline-block;
    margin-bottom: 30px;
}

article{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0 10px;
} 

article img{
    float: left;
    margin-right: 10px;
    border-radius: 100%;
}

article a{
    float: right;
    background-color: #107272;
    padding: 7px;
    color: rgb(243, 240, 240);
}

h1, h4{
    text-align: center;
}

h1 span, .fa-droplet{
    color: #26b5b5;
}

aside{
    background-color: #26b5b5;
    border: 3px solid #107272;
    width: 27%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 15px;
    color: rgb(243, 240, 240);
}

aside img{
    position: relative;
    float: right;
    top: -65px;
    right: -71px;
}