

#photo-list{
    width: 800px;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    transition: background-color 0.7s;
}

#photo-list li:hover{
    background-color: silver;
}

#total em{
    color: red;
    font-weight: bold;
}

#photo-list li.selected{
    background-color: forestgreen;
}